/*
 * magic.css
 * ~~~~~~~~~~~~
 *
 */

@import url("classic.css");

/* -- page layout ----------------------------------------------------------- */


.pageheader {
    background-image: url(footerbg.png);
    text-align: left;
    padding: 10px 15px;
}

.pageheader ul {
    float: right;
    color: white;
    list-style-type: none;
    padding-left: 0;
    margin-top: 30px;
    margin-right: 10px;
}

.pageheader li {
    float: left;
    margin: 0 0 0 10px;
}

.pageheader li a {
    border-radius: 1px;
    padding: 8px 12px;
    color: #f9f9f0;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pageheader li a:hover {
    background-color: #f9f9f0;
    color: #0a507a;
    text-shadow: none;
}
